.header{
  padding: 0.375em 0;
  text-align: center;
  box-shadow: 0px 2px 6px #847f7f;
  background: #7540ee;
  color: #fff;
  text-transform: capitalize;
  font-size: 2.5em;
  position: relative;
}

.header a{
  text-decoration: none;
  color: #fff;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  padding: 0 5px;
}

.header a:hover{
  color: #a2a2a2;
}

.header .signup-login{
  font-size: .6em;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
